In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('sms.tsv',header=None,delimiter='\t',names=['label','Messages'])

In [5]:
data.head()

  label                                           Messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [7]:
data['label']=data['label'].map({'ham':0,'spam':1})

In [8]:
data.head()

   label                                           Messages
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [9]:
x=data.Messages
y=data.label

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vect=CountVectorizer()

In [12]:
dtm=vect.fit_transform(x)
dtm

<5572x8713 sparse matrix of type '<class 'numpy.int64'>'
	with 74169 stored elements in Compressed Sparse Row format>

In [13]:
#dtm=vect.transform(x)
#dtm

In [14]:
x1=dtm.toarray()
x1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
df=pd.DataFrame(dtm.toarray())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8703,8704,8705,8706,8707,8708,8709,8710,8711,8712
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#cv=CountVectorizer(stop_words='english')

In [17]:
#x_new=cv.fit_transform(x)
#x_new
x1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
y

0       0
1       0
2       1
3       0
4       0
5       1
6       0
7       0
8       1
9       1
10      0
11      1
12      1
13      0
14      0
15      1
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
5542    0
5543    0
5544    0
5545    0
5546    0
5547    1
5548    0
5549    0
5550    0
5551    0
5552    0
5553    0
5554    0
5555    0
5556    0
5557    0
5558    0
5559    0
5560    0
5561    0
5562    0
5563    0
5564    0
5565    0
5566    1
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label, Length: 5572, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x1,y,test_size=.2,random_state=0)

In [21]:
#from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
import numpy as np

In [22]:
log1=LogisticRegression()

In [23]:
log1.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
np.bincount(y_test)

array([955, 160], dtype=int64)

In [25]:
pred=log1.predict(x_test)

In [26]:
log1.score(x_test,y_test)

0.9811659192825112

In [27]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [28]:
accuracy_score(y_test,pred)

0.9811659192825112

In [29]:
confusion_matrix(y_test,pred)

array([[952,   3],
       [ 18, 142]], dtype=int64)

In [30]:
from sklearn.model_selection import cross_val_score,KFold

In [ ]:
s=cross_val_score(MultinomialNB(),x1,y,
                 cv=KFold(5,shuffle=True),
                 scoring='recall')

log=cross_val_score(LogisticRegression(),x1,y,
                   cv=KFold(5,shuffle=True),
                   scoring='recall')

print(np.mean(s))
np.mean(log)

In [ ]:
print(s.mean())
log.mean()

In [ ]:
log